.App {
  text-align: center;
}

#for_legend span {
  display: block;
  margin: 1px 1px 0px 0px;
}

span:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.r-cl:before {
  background: Red;
}

.c-p-cl::before{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: blue;
}

.c-d-cl::before{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #348017;
}